* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
}

/* Video Background */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* Profile */
.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #00e0ff;
  margin-bottom: 15px;
}

.profile h1 {
  font-size: 22px;
  font-weight: bold;
}

.profile p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* Buttons */
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 14px;
  background: rgba(255,255,255,0.12);
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.2);
}

.btn:hover {
  background: #00e0ff;
  color: #000;
  transform: scale(1.04);
}

.btn.wa {
  background: #25D366;
  color: #000;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.6;
  }
  
